body {
  background: #EFEAE7;
  width: 100%;
  height: auto;
  font-family: 'Slabo 27px', serif;
  text-align: center;
  margin: 0;
  padding: 0;
}
a:link, a:active, a:visited {
  color: #3cf;
  text-decoration: none;
}
a:hover {
  color: #6df;
  border-bottom: 1px solid #3af;
}
header {
  position: fixed;
  height: auto;
  width: 100%;
  background: #2C3A44;
  color: #fff;
  margin: 0;
  padding: 10px;
  letter-spacing: 2px;
  z-index: 1;
}
nav {
  position: fixed;
  top: 12%;
  width: 100%;
  right: 0;
  display: inline;
  z-index: 1;
}
nav ul{
  background: #3F423F;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
   display: inline-block;
   padding: 1% 5%;
}

section {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.about {
/*  background: #364960;*/
  position: absolute;
  top: 20%;
  right: 0;
  color: #FFFFFE;
  text-align: center;
  padding: 10px;
  width: 100%;
  /*z-index: 2;*/
}
.about p {
  margin: 0 auto;
  width: 50%;
}
.projects {
  /*background: #adf;*/
  position: absolute;
  top: 40%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.projects-gallery {
  display: flex;
  margin: 0;
  padding: 0;
}
.projects img {
  width: 20%;
  height: auto;
}
.web-projects {
  flex: 50%;
  background: #2C3A44;
  display: inline-block;
  position: relative;
  margin: 1%;
  padding: 10px;
  width: 50%;
  border-radius: 8px;
}
.music-projects {
  flex: 50%;
  background: #2C3A44;
  display: inline-block;
  position: relative;
  margin: 1%;
  padding: 10px;
  width: 50%;
  border-radius: 8px;
}
.steve-fighter {
  color: white;
}
.skills {
  position: absolute;
  top: 90%;
  background: #a5e5ff;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 20px;
}
.skills p {
  width: 50%;
  margin: 0 auto;
}
.contact {}
h1 {}
h2 {}
h3 {
  color: white;
  padding: 0;
  margin: 0;
}
p {}
footer {
  position: absolute;
  top: 125%;
  width: 100%;
  right: 0;
  background: #2C3A44;
  color: #FFFFFE;
  z-index: 4;
  
  /*margin: 0;*/
  padding: 1%;
  /*left: 50%;*/
}
